#page-landing {
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  width: 100vw;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-landing .content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  /* max-height: 680px; */
  max-height: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  background: url('../../images/landing.svg') no-repeat 80% center;
  background-size: contain;
}

#page-landing .content-wrapper main {
  max-width: 350px;
}

#page-landing .content-wrapper main h1 {
  font-size: 76px;
  font-weight: 900;
  line-height: 70px;
}

#page-landing .content-wrapper main p {
  margin-top: 40px;
  font-size: 24px;
  line-height: 34px;
}

.content-wrapper .location {
  position: absolute;
  right: 0;
  top: 0;

  font-size: 24px;
  line-height: 34px;

  display: flex;
  flex-direction: column;

  text-align: right;
}

.content-wrapper .location strong {
  font-weight: 800;
}

.content-wrapper .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  background-color: #ffd666;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
  background-color: #96feff;
}

@media screen and (max-width: 1024px) {
  #page-landing .content-wrapper {
    padding: 50px 20px;
    max-height: none;
    background-size: 420px;
    background-position-x: 95%;
    max-width: 960px;
  }

  #page-landing .content-wrapper main {
    max-width: 500px;
  }

  .content-wrapper .location {
    position: relative;
    text-align: left;
  }

  .content-wrapper .enter-app {
    right: 20px;
    bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  #page-landing .content-wrapper {
    background-size: 200px;
    background-position-y: 20%;
    background-position-x: center;
    padding: 30px 20px;
  }

  #page-landing .content-wrapper > img {
    max-width: 150px;
  }

  #page-landing .content-wrapper main {
    margin-top: 210px;
  }

  #page-landing .content-wrapper main h1 {
    font-size: 35px;
    line-height: 1.2;
  }

  #page-landing .content-wrapper main p {
    font-size: 18px;
    line-height: 1.2;
    margin-top: 20px;
  }

  .content-wrapper .enter-app {
    bottom: 30px;
    height: 50px;
    width: 50px;
    border-radius: 20px;
  }
}